</ul>
</div>
</header>
<div class="formcontainer">
<%= form_for(plan) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label "Catalog Year" %>
    <%= f.number_field :catalogYear %><br>
    <%= f.label "Plan Year" %>
    <%= f.number_field :currYear %><br>
    <%= f.label "Term" %>
    <%= f.select :currTerm, ['Fall', 'Spring', 'Summer'] %><br>
  </div>

  <div class="actions">
    <br><%= f.submit %>
  </div>
<% end %>
</div>