<% content_for :nav do %>

	<% if current_user.role == "Admin" then %>
        <li><%= link_to 'Edit', edit_plan_path(@plan), :method => :get %></li>
    <% end %>
	<li><%= link_to 'Back', plans_path, :method => :get %></li>
<% end %>

      <div class="ul" class="ui-widget-content">
         <div class="heading">Requirements</div>
		 <div id="accordion">
			 <h3>ME</h3>
			 <div>and dan made this website and we hope you like it</div>
			 <h3>welcome</h3>
			 <div>	All that glitters is gold<br>
					Only shooting stars break the mold</div>
			 <h3>Other academic things</h3>
			 <div>pencil<br>paper<br>book<br>other</div>
		 </div>
      </div>
      <div class="container">
         <div class="heading"><%= @plan.name %> - <%= @user.login %> - <%= @user.major %></div>
         <div id="ur" class="ur">
				<div id="delete-wrap">
					<div id="delete-text">DELETE</div>
					<div id="delete"></div>
				</div>
				<div id="toolbar">
					<a href="#open-notes" id="open-notes" class="button">Open notes</a>
					<a href="#add-year" id="add-year" class="button">Add year</a>
					<a href="#delete-year" id="delete-year" class="button">Delete year</a>
				</div><!-- #toolbar -->
			</div><!-- #ur -->
      </div>
      <div class="bl">
         <div class="heading">Validation Status</div>
		  Year:
		  <select name="Year" id="yselect">
			<option value=''></option>
		  </select><br><br>
		  Make:
		  <select name="Make" id="mkselect">

		  </select><br><br>
		  Model:
		  <select name="Model" id="moselect">

		  </select>
      </div>
      <div class="br" id="wiki">
         <div class="heading">Course Finder</div>

			<table data-role="table" id="myTable">
			  <thead>
				<tr>
				  <th>Course Number</th>
				  <th data-priority="1" class="csfth">Course Name</th>
				  <th data-priority="2" class="csfth">Description</th>
				  <th data-priority="3" class="csfth">Credits</th>
				</tr>
			  </thead>
			  <tbody id="courselisttab">
				
			  </tbody>
			</table>
   		</div>

   	<script>
		$(document).on('turbolinks:load', ready);
		var once = true;
		function ready() {
			if(once) {
				once = true;
				console.log("Yep");
				fillPlan(<%=@id%>);
				resetGrid();
				window.addEventListener("resize", resetGrid);
			}
		}
	</script>
   <script>
	$( "#accordion" ).accordion({collapsible: true, heightStyle: "content"});
	</script>
	<script>
		$('table').filterTable({minRows: 0});
	</script>